
# Do not ignore file pattern in any subdirectory
!*/src

# But only ignore in the current directory
/src 

system/
Debug/
include/
ldscripts/
.settings
.cproject
.project

.ccsproject
targetConfigs/
tm4c123gh6pm_startup_ccs_gcc.c
*.lds



